<% if list.completed? %>
    <tr class="bg-dark">
        <td class="description text-light striker"><%= list.description %></td>
        <td>
            <%= form_with(model: list) do |f| %>

                <%= f.text_field :description, class: "form-control", type: "hidden" %>

                <%= f.check_box :completed, :checked => false, style: "visibility: hidden" %>

                <%= f.submit "UNCROSS", class: "btn btn-sm btn-outline-dark border-light text-light" %>
            <% end %>
        </td>
        <td><%= link_to "DELETE", list, data: { "turbo-method": :delete }, class: "btn btn-sm btn-outline-danger" %></td>
    </tr>
<% else %>
    <tr>
        <td class="description"><%= link_to list.description, edit_list_path(list), class: "text-dark" %></td>
        <td>
            <%= form_with(model: list) do |f| %>

                <%= f.text_field :description, class: "form-control", type: "hidden" %>

                <%= f.check_box :completed, :checked => true, style: "visibility: hidden" %>

                <%= f.submit "CROSS", class: "btn btn-sm btn-outline-dark" %>
            <% end %>
        </td>
        <td><%= link_to "Delete", list, data: { "turbo-method": :delete }, class: "btn btn-sm btn-outline-danger" %></td>
    </tr>
<% end %>  